div.main-body {
    display:grid;
    grid-template-columns: minmax(210px,auto) 1fr;
    grid-template-areas: "navbar mainContent";
    grid-gap:20px;
}
nav#navbar{
    grid-area: navbar;
    position: fixed;
    background:rgb(13, 61, 13);
    border-radius: 2px;
    
}
nav#navbar a{
    display: block;
    border:1px solid grey;
    border-radius: 5px;
    color:white;
    padding: 6px;
    margin:10px;
    text-decoration: none;
    text-align: center;
}
main#main-doc{
    grid-area: mainContent;
}
#navtitle{
    background-color: rgba(214, 202, 202, 0.836);
    padding:5px;
    text-align: center;
}
header{
    font-size: 1.5em;
    font-weight: bold;
    padding:1%;
    text-shadow: 1px rgb(37, 36, 36);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(179, 173, 173);
    border-radius: 2px;
}
code{
    background-color: #ccc;
    display:block;
    padding: 20px;
    border-radius:5px;
}
@media (max-width:750px){
    div.main-body{
        grid-template-columns: 1fr;
        grid-template-areas: "navbar" "mainContent";
    }
    nav#navbar{
        position: inherit;
    }
}